# every 3 minutes
#*/3 * * * * ~/.scripts/run_offlineimap.sh
# at 5 in the morning
#*   5 * * * pkill offlineimap
# every hour
*/30 * * * * DISPLAY=":0.0" gcalcli remind 240 'notify-send -t 300000 -i /usr/share/icons/Humanity/mimes/48/stock_calendar.svg "Calendar" \%s'
*/15 * * * * michel pull > /tmp/TODO && mv /tmp/TODO ~/.TODO
*/30 * * * * DISPLAY=":0.0" notify-send -t 10000 -i /usr/share/icons/Humanity/mimes/48/stock_calendar.svg TODO "$(cat ~/.TODO)"
