@import url("/etc/xdg/waybar/style.css");

#custom-screenrec {
    padding: 0 10px;
}

#custom-screenrec.recording {
    color: #ff5555; /* Red indicator */
    background-color: #ecf0f1;
}

#custom-callstatus {
    padding: 0 10px;
}

#custom-callstatus.busy {
    color: #ff5555; /* Red indicator */
}

#custom-callstatus.free {
    color: #55ff55; /* Green indicator */
}

#custom-audiostatus {
    padding: 0 10px;
}

#custom-audiostatus.busy {
    color: #ff5555; /* Red indicator */
}

#custom-audiostatus.free {
    color: #55ff55; /* Green indicator */
}
